<h1>Stupid Coach</h1>
<div class="user_question">
<h2><%=@question  %></h2>
<h3 class="user">– You</h3>
</div>
<br>
<div class="coach_answer">
<h2><%=@coach_answer  %></h2>
<h3 class="user">– Coach</h3>
</div>
<br>
<p><%= link_to "Ask again", ask_path %></p>
